{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Empty page for now

{% endblock %}


{% block content %}


{% endblock %}

