{#=====================================================
  Home page
  - Hero style greeting banner
  - List of garments passed in as 'garments' array
  - Form for adding a new garment
=====================================================#}

{% extends 'pages/base.jinja' %}

{% block title %}

    Garment List

{% endblock %}

{% block content %}

    <section id="garment_list">

        <h1>Garments...</h1>

            <ul>
                {% for garment in garments %}

                    <article>
                        <h3>{{ garment.name }} </h3>

                        <p>Priority: {{ garment.priority }}</p>
                        <p>Date listed: {{ garment.date }}</p>
                        <p>
                            {% if garment.repair_count == 0 %}
                                <span class="done">Repairs Needed: None </span>
                            {% else %} 
                                <span class="urgent">Repairs Needed: {{ garment.repair_count }}</span>
                            {% endif %}   
                        </p>    
                        <a href="/garment/{{ garment.id }}">See Details</a>
                    </article>

                {% else %}

                    <p>None!</p>

                {% endfor %}
            </ul>

    </section>

    <article>

        <h3>Add a New Garment...</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of new garment"
                required
            >

            <input
                type="number"
                name="priority"
                min="0"
                max="5"
                placeholder="Priority of new garment"
                required
            >

            <button>Add Garment</button>

        </form>

    </article>

{% endblock %}