{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

   Single garment

{% endblock %}


{% block content %}

    <h1>Repairs:</h1>

        <article>

            <h2>Repairs for this garment:</h2>
            <ul>
            {% for r in repairs %}
                <li> - Amount: {{ r.amount }} <a href="/delete_repair/{{ r.id }}" onclick="return confirm('Really remove?');">Remove</a></li>
            {% else %}
                <li>No repairs found for this garment.</li>
            {% endfor %}
            </ul>

        </article>

    <form action="/add_repair" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of problem"
                required
            >

            <button>Add Repair</button>

    <a role="button" href="/garment_repairs">Back to repair List</a>

{% endblock %}

