{#=====================================================
  Garment Single Repair page
  - Shows repairs of a single garment
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}

{% block title %}

   Single garment

{% endblock %}

{% block content %}

    <h1>Repairs for {{ garment.name }}:</h1>

        <article>

            <h2>Repairs for this garment:</h2>
            <ul>
                {% for r in repairs %}
                    <li>{{ r.name }} 
                {% if r.complete %}
                    <p><span class="fixed">Fixed: <a href="/complete_repair/{{ r.id }}">🗹</a></span></p>
                {% else %} 
                    <p><span class="unfixed">Fixed: <a href="/incomplete_repair/{{ r.id }}">☐</a></span></p>
                {% endif %}

                {% else %}
                    <li>No repairs found for this garment.</li>
                {% endfor %}
            </ul>

        </article>

    <form action="/add_repair" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of problem"
                required
            >

            <button>Add Repair</button>

    <a role="button" href="/">Back to Garment List</a>

{% endblock %}