{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

   Single garment

{% endblock %}


{% block content %}

    <h1>Garment:</h1>


    <article>

        <header>
            <h3>{{ garment.name }}</h3>
        </header>

        <p>Priority: {{ garment.priority }}</p>
        <h4>Check List</h4>

        <footer>
            <a href="/delete/{{ garment.id }}" onclick="return confirm('Really remove?');">Remove</a>
        </footer>

    </article>


    <a role="button" href="/">Back to garment List</a>

{% endblock %}

