{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All Garments

{% endblock %}


{% block content %}

    <section id="garment-list">

        <h1>Garments...</h1>


            <ul>
                {% for garment in garments %}

                    <article>
                        {{ garment.priority }} {{ garment.name }}
                        <a href="/delete/{{ garment.id }}">Remove</a>
                        <a href="/garment/{{ garment.id }}">Select</a>
                    </article>

                {% else %}

                    <p>None!</p>

                {% endfor %}
            </ul>

    </section>

    <article>

        <h3>Add a New Garment...</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of new garment"
                required
            >

            <input
                type="number"
                name="priority"
                min="0"
                max="5"
                placeholder="Priority of garment"
                required
            >

            <button>Add the Garment</button>

        </form>

    </article>

{% endblock %}


