{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single garment

{% endblock %}


{% block content %}

    <h1>A Single garment...</h1>


    <article>

        <header>
            <h3>{{ garment.name }}</h3>
        </header>

        <p>Price: <strong>${{ garment.price }}</strong></p>

        <footer>
            <a href="/delete/{{ garment.id }}" onclick="return confirm('Really delete?');">Delete</a>
        </footer>

    </article>


    <a role="button" href="/garments">Back to garment List</a>

{% endblock %}

