{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

   Single garment

{% endblock %}


{% block content %}

    <h1>Repairs for:</h1>

        <article>

            <h2>Repairs for this garment:</h2>
            <ul>
            {% for r in repair %}
                <li>{{ r.name }} - Amount: {{ r.amount }}</li>
            {% else %}
                <li>No repairs found for this garment.</li>
            {% endfor %}
            </ul>

        </article>

    <form action="/add_repair" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of problem"
                required
            >

    <a role="button" href="/">Back to garment List</a>

{% endblock %}

